div{
  attribute: value;
  margin:150%, 20px, 13pt;
  padding:20px;
}

p{
  font-family: "Times New Roman", Times, serif;
  color: blue;
  font-size: 34pt;
}

body{
  background: #b0e0e6;
}

.menu {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 28px;
}

#Home {
  padding-right: 10%; 
  padding-left: 10%; 
  background-color: #b0e0e6;
}

#Home:hover{
  padding-right: 10%; 
  padding-left: 10%; 
  background-color: #48D1CC;
}

#About {
  padding-right: 10%; 
  padding-left: 10%; 
  background-color: #b0e0e6;
}

#About:hover{
  padding-right: 10%; 
  padding-left: 10%; 
  background-color: #48D1CC;
}

#Projects {
  padding-right: 10%;
  padding-left:10%;
  background-color:#b0e0e6;
}

#Projects:hover {
  padding-right: 10%;
  padding-left: 10%;
  background-color: #48D1CC;
}

#Interests {
  padding-right: 10%;
  padding-left:10%;
  background-color:#b0e0e6;
}

#Interests:hover {
  padding-right: 10%;
  padding-left: 10%;
  background-color: #48D1CC;
}
