div{
  attribute: value;
  margin:150%, 20px, 13pt;
  padding:20px;
}

p{
  font-family: "Times New Roman", Times, serif;
  color: blue;
  font-size: 34pt;
}

body{
  background: #b0e0e6;
}

.menu {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 28px;
}
