div{
  attribute: value;
  margin:150%, 20px, 13pt;
  padding:20px;
}

p{
  font-family: "Times New Roman", Times, serif;
  color: blue;
  font-size: 34pt;
  <span id = "About">About</span>     
  <span id = "Projects">Projects</span>
}

body{
  background: #b0e0e6;
}
